<header>
    <nav>
        <a href="/">Reading Squirrel</a>
        <ul>
            <li><a href="/authors">Auteurs</a></li>
            <li><a href="/authors/new">Ajouter des auteurs</a></li>
        </ul>
    </nav>
</header>